*.iml
.gradle
.idea
local.properties
build
captures
.externalNativeBuild
.cxx
app/build
ios/LoudnessPlayerIOS/*.xcodeproj
ios/LoudnessPlayerIOS/build/
ios/LoudnessPlayerIOS/DerivedData/
ios/LoudnessPlayerIOS/Vendor/Artifacts/
ios/LoudnessPlayerIOS/Fixtures/Runtime/
*.xcresult
